WARFRAME_MARKET_API_V2=https://api.warframe.market/v2
WARFRAME_MARKET_API_V1=https://api.warframe.market/v1
WFM_EMAIL=
WFM_PASSWORD=
# Generate with: node bcrypt/generateHash.js "your-chosen-access-key"
ACCESS_KEY_HASH=
